app = "线上讲座系统"
listenAddr = "0.0.0.0:8000"
baseURL = "http://127.0.0.1:8000"
agreement = [
    "线上讲座系统用户使用协议",
    "如果你使用本系统，则表示你同意本协议",
    "线上讲座系统是教务处学工部发起，杭电助手开发、维护的系统，以下称线上讲座系统为本系统",
    "本系统仅限杭电师生使用",
    "我们会尽最大努力保证本系统正常使用"
]

[database]
user = "root"
password = ""
addr = "tcp(127.0.0.1:3306)"
db = "lecture"
